@charset "UTF-8";
/* ===== CDN styles ===== */
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css');
@import url('https://cdn.datatables.net/2.0.0/css/dataTables.bootstrap5.css');
@import url('https://cdn.datatables.net/searchbuilder/1.7.0/css/searchBuilder.bootstrap5.css');
@import url('https://cdn.datatables.net/buttons/3.0.0/css/buttons.bootstrap5.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/@docsearch/css@3');

/* === sticky-footer-navbar.css === */
main > .container {
  padding: 60px 15px 0;
}
/* === office.css === */
.luan-navbar {
    padding-top: 30px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.luan-navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

.luan-navbar a:hover {
    background: #f1f1f1;
    color: black;
}

.luan-navbar a.active {
    background-color: #c90347;
    color: white;
}

table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc,
table.dataTable thead > tr > td.dt-orderable-asc,
table.dataTable thead > tr > td.dt-orderable-desc {
  background-color: #dddddd;
}
